.form-usage {
    display: flex;
    flex-direction: column;

    .usage-value {
        display: flex;
        flex-direction: row;
        .separator {
            padding: 0px 3px 5px 3px;
        }

        .type {
            flex: 0 1 180px;
        }

        .subtype {
            flex: 0 1 200px;
            display: flex;
        }

        .length {
            flex: 1;
            max-width: 150px;
        }

        .mat-form-field-prefix {
            padding-right: 3px;
            span {
                font-weight: 700;
            }
        }
    }
    .mat-hint {
        margin-top: -13px;
        font-size: 75%;
        font-weight: 400;
        line-height: 1.125;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        letter-spacing: normal;
    }
}

.form-usage:hover {
    .mat-hint {
        visibility: visible;
    }
}
