.node_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    .icons {
        display: flex;
    }
}

.input {
    height: 65px;
    width: 100%;
    padding: 0px !important;
}

.mat-list-item {
    margin-bottom: 4px;
}

.mat-list-item-content {
    padding: 0px !important;
}

.list {
    // - (stepper) and - (add_container)
    height: calc(100% - (65px) - (65px));
    overflow: auto;

    background: rgb(245, 245, 245);
    padding: 10px;
    border-radius: 10px;

    .node-text {
        height: 100%;
        width: calc(100% - 20px);
        display: flex;
        align-items: center;
        padding-left: 10px;
    }

    .editedNode {
        transform: translateY(4%);
        width: 100%;
    }

    .editedNode > div {
        width: 100%;
    }

    .node-hover:hover {
        background-color: #ebebeb;
    }

    .node-selected {
        background-color: #dbdbdb;
    }
}


::-webkit-scrollbar {
    width: 6px;
    background: transparent;
}

::-webkit-scrollbar-track:hover {
    background: #eaeaea;
}

::-webkit-scrollbar-thumb {
    background: var(--mdc-theme-primary, #6200ee);
    border-radius: 10px;
}

.pointable {
    cursor: pointer;
}

.add_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.add_button {
    background-color: #3f51b5;
    color: white;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
}
