vendor/
tests/
log/*
!log/.gitkeep
cache/*
!cache/.gitkeep
spool/*
!spool/.gitkeep
bin/*
!bin/.gitkeep
config/config.json
config/routing/*
!config/routing/.gitkeep
composer.json
composer.phar
composer.lock
.vscode
.idea
public/*
!public/index.php
!public/console.php
!public/assets
