vendor/
tests/
log/*
!log/.gitkeep
cache/*
!cache/.gitkeep
spool/*
!spool/.gitkeep
bin/*
!bin/.gitkeep
config/config.inc.php
config/config.json
config/routing/*
!config/routing/.gitkeep
composer.phar
composer.lock
.vscode
public/*
!public/index.php
!public/console.php
!public/assets
!public/console2.php
public/assets/env/config.json
