vendor/
log/*
!log/.gitkeep
cache/*
!cache/.gitkeep
spool/*
!spool/.gitkeep
bin/*
!bin/.gitkeep
config/config.inc.php
config/config.json
config/secrets.json
config/routing/*
!config/routing/.gitkeep
composer.phar
composer.lock
.vscode
packages
!packages/core
!packages/demo
public/*
!public/index.php
!public/console.php
!public/assets
public/assets/env/config.json
