* {
    box-sizing: border-box
}

body,html {
    height: 100%;
    margin: 0
}

body.no-scroll {
    overflow: hidden
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: Roboto,sans-serif;
    font-family: var(--mdc-typography-body1-font-family,var(--mdc-typography-font-family,Roboto,sans-serif));
    font-size: .875rem;
    font-size: var(--mdc-typography-body1-font-size,.875rem);
    line-height: 1.5;
    line-height: var(--mdc-typography-body1-line-height,1.5);
    font-weight: 400;
    font-weight: var(--mdc-typography-body1-font-weight,400);
    letter-spacing: .03125em;
    letter-spacing: var(--mdc-typography-body1-letter-spacing,.03125em);
    text-decoration: inherit;
    -webkit-text-decoration: var(--mdc-typography-body1-text-decoration,inherit);
    text-decoration: var(--mdc-typography-body1-text-decoration,inherit);
    text-transform: inherit;
    text-transform: var(--mdc-typography-body1-text-transform,inherit);
    color: #424242;
    letter-spacing: normal
}

@media screen and (min-width: 521px) {
    body {
        font-size:1rem
    }
}

h1 {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: Roboto,sans-serif;
    font-family: var(--mdc-typography-headline1-font-family,var(--mdc-typography-font-family,Roboto,sans-serif));
    font-size: 2.5rem;
    font-size: var(--mdc-typography-headline1-font-size,2.5rem);
    line-height: 1.2;
    line-height: var(--mdc-typography-headline1-line-height,1.2);
    font-weight: 400;
    font-weight: var(--mdc-typography-headline1-font-weight,400);
    letter-spacing: 0;
    letter-spacing: var(--mdc-typography-headline1-letter-spacing,0);
    text-decoration: inherit;
    -webkit-text-decoration: var(--mdc-typography-headline1-text-decoration,inherit);
    text-decoration: var(--mdc-typography-headline1-text-decoration,inherit);
    text-transform: inherit;
    text-transform: var(--mdc-typography-headline1-text-transform,inherit);
    color: #212121;
    margin: 0
}

@media screen and (min-width: 521px) {
    h1 {
        font-size:3.125rem
    }
}

@media screen and (min-width: 921px) {
    h1 {
        font-size:3.75rem
    }
}

h2 {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: Roboto,sans-serif;
    font-family: var(--mdc-typography-headline2-font-family,var(--mdc-typography-font-family,Roboto,sans-serif));
    font-size: 1.5rem;
    font-size: var(--mdc-typography-headline2-font-size,1.5rem);
    line-height: 1.2;
    line-height: var(--mdc-typography-headline2-line-height,1.2);
    font-weight: 400;
    font-weight: var(--mdc-typography-headline2-font-weight,400);
    letter-spacing: -.0083333333em;
    letter-spacing: var(--mdc-typography-headline2-letter-spacing,-.0083333333em);
    text-decoration: inherit;
    -webkit-text-decoration: var(--mdc-typography-headline2-text-decoration,inherit);
    text-decoration: var(--mdc-typography-headline2-text-decoration,inherit);
    text-transform: inherit;
    text-transform: var(--mdc-typography-headline2-text-transform,inherit);
    color: #212121;
    margin: 0
}

@media screen and (min-width: 521px) {
    h2 {
        font-size:1.75rem
    }
}

@media screen and (min-width: 921px) {
    h2 {
        font-size:2rem
    }
}

h3 {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: Roboto,sans-serif;
    font-family: var(--mdc-typography-headline3-font-family,var(--mdc-typography-font-family,Roboto,sans-serif));
    font-size: 1.375rem;
    font-size: var(--mdc-typography-headline3-font-size,1.375rem);
    line-height: 3.125rem;
    line-height: var(--mdc-typography-headline3-line-height,3.125rem);
    font-weight: 400;
    font-weight: var(--mdc-typography-headline3-font-weight,400);
    letter-spacing: normal;
    letter-spacing: var(--mdc-typography-headline3-letter-spacing,normal);
    text-decoration: inherit;
    -webkit-text-decoration: var(--mdc-typography-headline3-text-decoration,inherit);
    text-decoration: var(--mdc-typography-headline3-text-decoration,inherit);
    text-transform: inherit;
    text-transform: var(--mdc-typography-headline3-text-transform,inherit);
    color: #212121;
    margin: 0;
    line-height: 1.2
}

@media screen and (min-width: 521px) {
    h3 {
        font-size:1.375rem
    }
}

@media screen and (min-width: 921px) {
    h3 {
        font-size:1.5rem
    }
}

h4 {
    font-family: Roboto,sans-serif;
    font-family: var(--mdc-typography-headline4-font-family,var(--mdc-typography-font-family,Roboto,sans-serif));
    font-size: 1.25rem;
    font-size: var(--mdc-typography-headline4-font-size,1.25rem);
    line-height: 1.625rem;
    line-height: var(--mdc-typography-headline4-line-height,1.625rem);
    font-weight: 400;
    font-weight: var(--mdc-typography-headline4-font-weight,400);
    letter-spacing: .0073529412em;
    letter-spacing: var(--mdc-typography-headline4-letter-spacing,.0073529412em);
    text-decoration: inherit;
    -webkit-text-decoration: var(--mdc-typography-headline4-text-decoration,inherit);
    text-decoration: var(--mdc-typography-headline4-text-decoration,inherit);
    text-transform: inherit;
    text-transform: var(--mdc-typography-headline4-text-transform,inherit);
    color: #212121;
    margin: 0
}

h4,h5 {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased
}

h5 {
    font-family: Roboto,sans-serif;
    font-family: var(--mdc-typography-headline5-font-family,var(--mdc-typography-font-family,Roboto,sans-serif));
    font-size: 1.125rem;
    font-size: var(--mdc-typography-headline5-font-size,1.125rem);
    line-height: 1.333;
    line-height: var(--mdc-typography-headline5-line-height,1.333);
    font-weight: 400;
    font-weight: var(--mdc-typography-headline5-font-weight,400);
    letter-spacing: normal;
    letter-spacing: var(--mdc-typography-headline5-letter-spacing,normal);
    text-decoration: inherit;
    -webkit-text-decoration: var(--mdc-typography-headline5-text-decoration,inherit);
    text-decoration: var(--mdc-typography-headline5-text-decoration,inherit);
    text-transform: inherit;
    text-transform: var(--mdc-typography-headline5-text-transform,inherit)
}

h6 {
    font-family: Roboto,sans-serif;
    font-family: var(--mdc-typography-headline6-font-family,var(--mdc-typography-font-family,Roboto,sans-serif));
    font-size: 1rem;
    font-size: var(--mdc-typography-headline6-font-size,1rem);
    line-height: 2rem;
    line-height: var(--mdc-typography-headline6-line-height,2rem);
    font-weight: 500;
    font-weight: var(--mdc-typography-headline6-font-weight,500);
    letter-spacing: .0125em;
    letter-spacing: var(--mdc-typography-headline6-letter-spacing,.0125em);
    text-decoration: inherit;
    -webkit-text-decoration: var(--mdc-typography-headline6-text-decoration,inherit);
    text-decoration: var(--mdc-typography-headline6-text-decoration,inherit);
    text-transform: inherit;
    text-transform: var(--mdc-typography-headline6-text-transform,inherit)
}

.inline-code,code,h6 {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased
}

.inline-code,code {
    font-family: Roboto,sans-serif;
    font-family: var(--mdc-typography-caption-font-family,var(--mdc-typography-font-family,Roboto,sans-serif));
    font-size: .875rem;
    font-size: var(--mdc-typography-caption-font-size,.875rem);
    line-height: 1.25rem;
    line-height: var(--mdc-typography-caption-line-height,1.25rem);
    font-weight: 400;
    font-weight: var(--mdc-typography-caption-font-weight,400);
    letter-spacing: .0333333333em;
    letter-spacing: var(--mdc-typography-caption-letter-spacing,.0333333333em);
    -webkit-text-decoration: var(--mdc-typography-caption-text-decoration,inherit);
    text-decoration: var(--mdc-typography-caption-text-decoration,inherit);
    text-transform: inherit;
    text-transform: var(--mdc-typography-caption-text-transform,inherit);
    background-color: #f5f5f5;
    font-family: Roboto Mono,monospace;
    font-weight: 500;
    line-height: 1.5rem;
    display: inline-block;
    padding: 0 4px;
    border-radius: 2px;
    text-decoration: inherit;
    word-break: break-word
}

a {
    color: #212121;
    letter-spacing: 0;
    text-decoration: underline
}

a:focus,a:hover {
    opacity: .8
}

a:visited {
    color: #616161
}

hr {
    border-color: rgba(0,0,0,.12);
    margin: 0;
    border-width: 1px 0 0
}



