:host {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.step-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .small-font-label {
        font-size: smaller;
        margin-bottom: -6px;
    }
    .big-font-label {
        font-size: larger;
    }
}

.mat-horizontal-content-container {
    height: calc(100% - 72px);
}

.mat-horizontal-stepper-content {
    height: 100%;
}

.mat-stepper-horizontal-line {
    flex: none !important;
    min-width: 45px !important;
}

pre {
    background-color: ghostwhite;
    border: 1px solid silver;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 4px;
    display: flex;
    width: calc(100% - 20px - 20px - 6px);
    flex-wrap: wrap;

    .json-key {
        color: brown
    }

    .json-value {
        color: navy
    }

    .json-string {
        color: olive
    }
}

#schema > figure {
    display: inline !important;
    overflow-y: scroll;
    overflow-x: auto;
}

.app-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    .app-link {
        height: 13%;
        width: 13%;
        margin: 5px;
        .app-button {
            height: 100%;
            width: 100%;
        }

        .models {
            background-color: rgb(210, 37, 44);
        }

        .controller {
            background-color: rgb(255, 151, 65);
        }
    }
}

