Options -Indexes
DirectoryIndex index.php index.html

<IfModule mod_rewrite.c>

    RewriteEngine On
    RewriteBase /
    
    RewriteRule ^(index|console|console_json|console2)\.php(\??.*)$ - [L]

    RewriteCond %{REQUEST_FILENAME} ^(.*)\.php$ [OR]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.php [L]

</IfModule>
