.node_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    .icons {
        display: flex;
    }
}

.input {
    height: 65px;
    width: calc(100% - 34px);
    padding: 0px !important;
    margin-bottom: -11px;
}

.mat-list-item {
    margin-bottom: 4px;
}

.mat-list-item-content {
    padding: 0px !important;
}

.list {
    height: calc(100% - (65px) - (51px) - (54px));
    overflow: auto;

    .node-text {
        height: 100%;
        width: calc(100% - 19px - 19px);
        display: flex;
        align-items: center;
        padding-left: 10px;
    }

    .editedNode {
        transform: translateY(4%);
        width: 100%;
    }

    .editedNode > div {
        width: 100%;
    }

    .node-hover:hover {
        background-color: #ebebeb;
    }

    .node-selected {
        background-color: #dbdbdb;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #c0b5b5;
}

::-webkit-scrollbar-thumb {
    background: #656161;
}

.pointable {
    cursor: pointer;
}

.add_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}

.add_button {
    background-color: #3f51b5;
    color: white;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
}

.mat-ripple .mat-tab-label .mat-focus-indicator .ng-star-inserted .mat-tab-label-active {
    min-width: 120px;
}

.mat-ripple .mat-tab-header-pagination .mat-tab-header-pagination-before .mat-elevation-z4 .mat-tab-header-pagination-disabled {
    display: none;
}

.data-action{
    display: flex;
    flex-direction: column;
    height: 40px;

    .type-container {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        height: 100%;
        .type-controller {
            color: rgba(0,0,0,.87);
            font-family: Roboto, "Helvetica Neue", sans-serif;
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .lineLeft {
        height: 2px;
        background-color: #3f51b5;
        width: 50%;
    }

    .lineRight {
        height: 2px;
        background-color: #3f51b5;
        width: 50%;
        margin-left: 50%;
    }
}
