.mat-figure {
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 10px !important;
    padding-top: 20px !important;
}

.prorperty {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.padding-checkbox {
    padding-right: 5px;
}
