.icon {
    cursor: pointer;
    font-size: 120%
}

.delete-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;
}

.delete-value {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.height-fit {
    height: fit-content;
}